* {
  font-family: sans-serif;
  font-weight: 600;
}

.container {
  max-width: 400px;
  margin: 10vh auto 0 auto;
}

#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 32px;
  color: white;
  background-color: #000000;
}

.buttons {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}

.Numbutton {
  border: 0.5px solid #000000;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  background-color: #d8d9db;
}

.functionButton {
  border: 0.5px solid #000000;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
  background-color: #df974c;
}

#deleteButton {
  grid-column: 1 / span 2;
}

#zeroButton {
  grid-column: 1 / span 3;
}

.Numbutton:hover {
  background-color: #ebebeb;
  transition: 0.5s ease-in-out;
}

.functionButton:hover {
  background-color: #dfb07e;
  transition: 0.5s ease-in-out;
}
